<div class="main">
  <div id="home" class="container login-home animated fadeIn">
    <img src="./assets/img/logo.png">
    <div class="btn-group-home">
      <button (click)="loginAnonymous()" id="btnLogin" type="button" class="btn-home">Play as Guest</button>
      <button (click)="register=!register" id="btnRegister" type="button" class="btn-home btn-register">Register</button>
    </div>


      <div *ngIf="register" class="animated fadeInDown">
          <a class="btn btn-block btn-social btn-facebook" (click)="loginFacebook()">
                  <span class="fa fa-facebook fa-fw"></span> Connect with Facebook
                </a>
          <a class="btn btn-block btn-social btn-google" (click)="loginGoogle()">
                    <span class="fa fa-google fa-fw"></span> Connect in with Google
                  </a>
          <a class="btn btn-block btn-social btn-vk" (click)="signup()">
                      <span class="fa fa-envelope fa-fw"></span> Sign up with Email
                    </a>
    
        </div>

    <span class="createaccount" (click)="loginEmail()">Already an account ? <strong>Log in here</strong></span>

    <a target="_blank" href="http://www.wildcodeschool.fr">Made with <span class="love"><i class="fa fa-heart" aria-hidden="true"></i></span> by Wilders</a>
  </div>
</div>