<div class="main">
  <!-- NEW GAME 
  <div class="new-game">
    <p><i class="fa fa-plus"></i> New Game</p>
  </div> -->

  <!-- SIDEBAR -->
  <div class="container-fluid">
    <div class="menu-sidebar">
      <div class="content-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-img-container">
          <img id="userAvatar" src="../assets/img/user.png" class="img-responsive" />
        </div>
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            Bonjour
          </div>
          <div *ngIf="getDisplayName() != null" id="username" class="profile-usertitle-job animated fadeIn">
            {{ getDisplayName() }}
          </div>
          <div *ngIf="getDisplayName() == null" id="username" class="profile-usertitle-job animated fadeIn">
            Guest
          </div>
          <div><button (click)="editProfil=!editProfil" id="btnEdit" type="button" class="btn-sidebar"><i class="fa fa-edit"></i>
                Edit Profil</button></div>
          <div><button (click)="logout()" id="btnLogout" type="button" class="btn-sidebar"><i class="fa fa-sign-out"></i>
                  Log Out</button></div>


        </div>
      </div>

      <!-- END SIDEBAR -->

      <!-- EDIT PROFIL MODAL -->
      <div *ngIf="editProfil" id="editProfilModal" class="modal  animated fadeIn">
        <!-- EDIT PROFIL MODAL CONTENT -->
        <div class="modal-content">
          <!-- EDIT PROFIL MODAL USERPIC -->
          <div class="dropzone"><img id="userAvatarEdit" src="img/user.png" class="img-responsive"></div>
          <div class="formUsername">
            <label>Username</label> 
            <div class="input-group form-edit">
              <span class="input-group-addon form-edit-addon"><i class="fa fa-user fa-fw"></i></span>
              <input id="txtUsername" type="text" class="form-control form-edit-control" placeholder="TheLegend27" value="{{username}}">
            </div>
            <div id="errorNameMessage" class="error-message  animated fadeInDown">
              <!-- <i class="fa fa-times"></i> This username is not valid
            </div> -->
          </div>
          <div id="formEmail" class="">
            <label>Email</label>
            <span id="verifiedEmail" class="verified-email"><i class="fa fa-check fa-fw"></i> Verified</span>
            <span id="notverifiedEmail" class="not-verified-email "><i class="fa fa-times"></i> Not verified</span>
            <div class="input-group form-edit">
              <span class="input-group-addon form-edit-addon-disabled"><i class="fa fa-envelope fa-fw"></i></span>
              <input id="txtEmail" type="email" class="form-control form-edit-control" placeholder="" disabled>
            </div>
          </div>
           <!-- <div id="emailSentMessage" class="validated-message  animated fadeInDown">
            <i class="fa fa-check"></i> Confirmation email sent
          </div> -->
          <div id="formPassword" class="">
            <label>Current Password</label>
            <div class="input-group form-edit">
              <span class="input-group-addon form-edit-addon"><i class="fa fa-unlock-alt fa-fw"></i></span>
              <input id="txtPassword" type="password" class="form-control form-edit-control" placeholder="">
            </div>
          </div>
          <div (click)="editPassword=!editPassword" id="changePassword" class="change-password ">Change password ?</div>
          <div *ngIf="editPassword" id="formConfirmPassword" class="animated fadeIn">
            <label>New Password</label>
            <div class="input-group form-edit">
              <span class="input-group-addon form-edit-addon"><i class="fa fa-unlock-alt fa-fw"></i></span>
              <input id="txtNewPassword" type="password" class="form-control form-edit-control" placeholder="">
            </div>
          </div>
          <div class="btn-modal-group">
            <button id="btnCancel" type="button" class="btn-modal btn-cancel">Cancel</button>
            <button (click)="updateUser()" (click)="editProfil=!editProfil" id="btnUpdate" type="button" class="btn-modal">Save</button>
          </div>
        </div>
      </div>

      <!-- END EDIT PROFIL MODAL -->


    </div>