/* GLOBAL */
.main {
    background-color: #2C2F33;
    height: 100vh;
}

.container-fluid {
    padding: 0;
}

/* MODAL */
/* The Modal (background) */

.modal {
    display: block;
    position: fixed;
    /* Stay in place */
    
    z-index: 110;
    /* Sit on top */
    
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    
    height: 100%;
    /* Full height */
    
    overflow: auto;
    /* Enable scroll if needed */
    
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}
/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 30px auto;
    /* 15% from the top and centered */
    
    padding: 15px;
    border: 1px solid #888;
    width: 40%;
    /* Could be more or less, depending on screen size */
    
    border-radius: 3px;
}
.modal-content label {
    color: #99AAB5;
    text-align: left;
    text-transform: uppercase;
    font-size: 12px;
}
.verified-email {
    color: #3fac7c;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 0;
    margin-left: 10px;
}
.not-verified-email {
    color: #F04747;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 0;
    margin-left: 10px;
}

.avatar-icon-edit {
    background-color: #d8d8d8;
    color: #2C2F33;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 45px;
    position: absolute;
    top: 20px;
    right: 130px;
    z-index: 1;
    text-align: center;
}
.form-edit {
    margin-bottom: 15px;
}
.form-edit-addon {
    padding-right: 0;
    background-color: #fff;
    color: #999;
}

.form-edit-addon-disabled {
    padding-right: 0;
    background-color: #d8d8d8;
    color: #999;
}

.form-edit-control {
    border-left: 0;
    height: 45px;
}
.error-message {
    color: #F04747;
    margin-bottom: 15px;
    transition: all 0.3s ease;
    text-align: center;
}

.validated-message {
    color: #3fac7c;
    margin-bottom: 15px;
    transition: all 0.3s ease;
    text-align: center;
}

.form-control[disabled] {
    background-color: #d8d8d8;
    cursor: inherit;
}
.change-password {
    text-align: left;
    margin-bottom: 15px;
    cursor: pointer;
}
.btn-modal-group {
    width: 173px;
    margin-left: auto;
}
.btn-modal {
    -webkit-transition: all .12s ease-out;
    background-color: #3fac7c;
    border-radius: 3px;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 20px;
    position: relative;
    top: 0;
    transition: all .12s ease-out;
    text-align: right;
}
.btn-cancel {
    color: black;
    background-color: transparent;
}
/* SIDEBAR */

.new-game {
    position: fixed;
    bottom: 25px;
    right: 25px;
    color: #7289DA;
    font-weight: 100;
}
.btn-sidebar {
    -webkit-transition: all .12s ease-out;
    background-color: #2F3438;
    border-radius: 3px;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 20px;
    position: relative;
    top: 0;
    width: 100%;
    transition: all .12s ease-out;
}
.menu-sidebar {
    position: fixed;
    height: 100vh;
    z-index: 100;
    background-color: #23272A;
    width: 250px;
}
.content-sidebar {
    padding: 15px;
    text-align: center;
}
/* Profile pic */

.profile-img-container {
    display: inline-block;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}
/* Users info */

.profile-usertitle {
    margin-top: 20px;
}
.profile-usertitle-name {
    color: #7289DA;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}
.profile-usertitle-job {
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}
.content {
    margin-left: 250px;
}